# dependencies
**/node_modules

# misc
**/.DS_Store

# environment config
**/.env

# production
**/build
**/npm-debug.log*

ИУ5-71б_Утенков_А_П_Задание_ВКРБ.docx
ИУ5-71б_Утенков_А_П_КП_ВКРБ.docx
ИУ5-81б_Утенков_А_П_ПМИ.docx
ИУ5-81б_Утенков_А_П_ТЗ.docx